repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
    -   id: detect-private-key
    -   id: check-yaml
    -   id: check-json
    -   id: check-added-large-files
    -   id: check-case-conflict
    -   id: check-merge-conflict
    -   id: debug-statements
    -   id: end-of-file-fixer

-   repo: https://github.com/PyCQA/bandit
    rev: 1.9.2
    hooks:
    -   id: bandit
        args: ["-ll", "-ii", "-s", "B324"]

-   repo: local
    hooks:
    -   id: no-pickle
        name: Detect pickle usage
        entry: pickle
        language: pygrep
        types: [python]
