# GitHub integration modules:
PyGithub==2.5.0
GitPython==3.1.43

# Request making and response parsing modules:
httpx==0.23.3
humanize==4.9.0

# Environment variables
python-dotenv==1.0.1

# Time zone handling
pytz==2024.1

# Codestyle checking modules:
flake8==6.0.0
black==24.3.0

# Add encryption support
cryptography==43.0.3

# Development tools
pre-commit==3.6.0
